name: Code Quality Checks

on:
  push:
  schedule:
    - cron: '0 9 * * *' # every day at 9:00

jobs:
  test:
    runs-on: ubuntu-20.04
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Fetch Git history
        run: git fetch --no-tags --depth=50 origin main

      - name: Install dependencies
        uses: bahmutov/npm-install@v1
        with:
          install-command: yarn --immutable

      - name: Lint
        run: yarn lint

      - name: Check Code-Style Format
        run: yarn format

      - name: Unit Tests
        run: yarn test:unit:ci

      - name: Test build
        run: yarn build

      - name: Publish Code Coverage
        uses: coverallsapp/github-action@1.1.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./.coverage/lcov.info
