name: Code Quality Checks

on:
  push:
  schedule:
    - cron: '0 9 * * *' # every day at 9:00

jobs:
  lint:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    env:
      HUSKY: 0

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node and Install Dependencies
        uses: ./.github/actions/setup-install

      - name: Lint
        run: yarn lint:scripts

  unit-tests:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    env:
      HUSKY: 0

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node and Install Dependencies
        uses: ./.github/actions/setup-install

      - name: Unit Tests
        run: yarn test:unit:ci

      - name: Publish Code Coverage
        uses: coverallsapp/github-action@1.1.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./.coverage/lcov.info

  format:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    env:
      HUSKY: 0

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node and Install Dependencies
        uses: ./.github/actions/setup-install

      - name: Check Code-Style Format
        run: yarn format

  types:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    env:
      HUSKY: 0

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node and Install Dependencies
        uses: ./.github/actions/setup-install

      - name: Types Check
        run: yarn types
        continue-on-error: true
